/* ***************** General / Global ************************ */
html, body {
  background-color: rgb(235, 233, 233);
}
li {
  list-style: none;
}
.view{
  position: relative;
  top: 43px;
}
.container-fluid{
}
a:link, a:active, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: white;
  f
}

/* ****************** Navbar ************************************* */
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  margin: 0;
  padding: 0;
}
.navbar_row {
  background-color: green;
}
.logo a{
  color: white;
  font-size: 30px;
}

#login {
  color: white;
}
.sign_in_container {
  margin-top: 5%;
}

/* *************************User Home Page styles ***************************************/
.hero_image_container {
  background-color: black;
  height: 400px;
}
.left_side_bar {
  background-color: darkgrey;
}
.right_side_bar {
  background-color: grey;
}
.mid-top-container {
  border: 2px solid black;
}
.card {
  background-color: black;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
/****************************** End of user Home Page styles *****************************/


/* ******************************* User profile page **************************** */
.actual_profile_post {
  /* background: rgba(0 ,0 ,0, 0.7); */
  margin: 5px;
  padding: 0px;
  /* color: white; */
  background-color: white;
  border: 2px solid silver;
}
.post_container{
  /* box-shadow: 0px 10px 25px black; */
  padding: 0;
  margin: 0;
}
.comments_link, .comments_link:link, .comments_link:active, .comments_link:hover{  
  color: green !important;
}
.left_side_bar{
  background-color: white;
  border: 2px solid silver;
}
.mid-top-container{
  background-color: white;
  border: 2px solid silver;
}
.profile_links{
  color: green !important;
}
.personal_comments_holder{
  background-color: white;
  border: 1px solid silver;
  position: fixed;
  max-height: 350px;
  max-width: 300px;
  top: 22%;
}
.profile_image {
  max-width: 150px;
}
.post_image_container{
  max-width: 40px;
}
hr {
  padding: 5px;
  margin: 0;
}
.events_container{
  max-width: 480px;
  min-height: 200px;
  background-color: white;
  border: 2px solid silver;
  position:fixed;
  top: 60%;

}
.upcoming_event{
  border: 2px silver solid;
  min-height: 100%;
}
/* ************************ End of user profile page **************************** */
/* ********************************** Technology Page ************************************ */

.tech_heading_row{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.tech_heading{
  margin: 0;
  padding: 0;
}
.tech_h1{
  margin: 0;
  text-align: center;
}
.tech_p{
  margin: 0;
  text-align: center;
}
.tech_post_container{
  background-color: white;
  border: 2px solid silver;
}
.tech_noticiactions{
 background-color: white;
  border: 2px solid silver;
}