/* ***************** General / Global ************************ */
li {
  list-style: none;
}

/* ****************** Navbar ************************************* */
.navbar_row {
  background-color: green;
}
.logo a{
  color: white;
  font-size: 30px;
}
a:link, a:active, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: white;
}

#login {
  color: white;
}
.sign_in_container {
  margin-top: 5%;
}

/* *************************User Home Page styles ***************************************/
.hero_image_container {
  background-color: black;
  height: 400px;
}
.left_side_bar {
  background-color: darkgrey;
}
.right_side_bar {
  background-color: grey;
}
.mid-top-container {
  border: 2px solid black;
}
.post_container{
  border: 2px solid black;
}
.card {
  background-color: black;
}
.img-fluid{
  max-width: 100%;
  height: auto;
}
/****************************** End of user Home Page styles *****************************/

/* ********************************** Technology Page ************************************ */

.tech_heading_row{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.tech_heading{
  margin: 0;
  padding: 0;
}
.tech_h1{
  margin: 0;
  text-align: center;
}
.tech_p{
  margin: 0;
  text-align: center;
}
.tech_post_container{
  border: 3px solid black;
}
.tech_noticiactions{
  border: 2px solid black;
}