<!-- This encloses everything -->
<div class="container-fluid">
  <div class="row navbar_row">
    <div class="col-md-4 logo">
      <a ng-href="#!/">Codemunity</a>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <input type="search" name="techSearch" id="techSearch">
      <input type="submit" value="Search">
    </div>
    <!-- This column will hold the login/logout/and profile buttons depending on if a user is logged in. -->
    <div class="col-md-2 log_in_container">
      <a href="#!/login" id="login">Login</a>
    </div>
  </div>
</div>