<div class="container-fluid">
  <!-- This is for the Tech name, and it's description -->
  <div class="row tech_heading_row">
    <div class="col-md-4"> </div>
    <div class="col-md-4 tech_heading">
      <h1 class="tech_h1">{{technology_name}}</h1>
      <p class="tech_p">{{technology_description}}</p>
    </div>
    <div class=" col-md-4 ">
      <button class="button" ng-click="redirect();">Message Board</button>
      <button class="btn-primary" ng-click="join_community()">Join</button>
      <!-- <button>Joined</button> -->
    </div>
  </div>

  <!-- This row will hold the actual context of the page -->
  <div class="row tech_body">
    <!-- This is white space on far left -->
    <div class="col-md-1"></div>
    <!-- This is the post container -->
    <div class="col-md-5">
      <div class="tech_post_container">
        <div class="row">
          <li class="tech_post_admin" ng-repeat="post in admin_posts">
            <div class="col-md-8">
              <!-- This will be the actuall posts made by the admin -->
              <P>{{post.Post}}</P>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
              <div ng-show="prove_admin()">
                <a ng-click=edit(post)>Edit</a> |
                <a ng-click="delete(post.id)">Delete</a>
              </div>
            </div>
          </li>
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <!-- *******This will be the input box for Admin posts**********************-->
          <div class="col-md-6">
            <!-- This should only be seen if the user is the admin -->
            <div ng-show="prove_admin()">
              <input type="text" placeholder="Make a post" ng-model="admin_post">
              <input type="submit" name="Post" ng-click="new_admin_post();">
              <input type="submit" value="Update" ng-click="update()">
            </div>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
    <!-- White space -->
    <div class="col-md-2"></div>
    <div class="col-md-3 tech_noticiactions">
      Upcoming events
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="upcoming_events_container">
            <li ng-repeat="event in events">
              <div class="col-md-8">
                {{event.post}}
              </div>
              <div class="col-md-4">
                <button ng-click="going_to_event(event.id)">Going?</button>
              </div>
              <hr>
            </li>
          </div>
          <div ng-show="prove_admin()">
            <input type=" text " placeholder="Upcoming Event? " ng-model="new_event.post ">
            <input type="date " placeholder="What 's the date?" ng-model="new_event.date">
            <input type="time" placeholder="What time?" ng-model="new_event.time">
            <input type="text" placeholder="Where is it?" ng-model="new_event.location">
            <input type="submit" name="Post" ng-click="add_new_event()">
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>