<!-- Encloses everything -->
<div class="container-fluid ">

  <div class="row">
    <!-- White space -->
    <div class="col-md-1">

    </div>
    <!-- left sidebar -->
    <div class="col-md-2 left_side_bar">
      <div class="profile_image">
        <img src="./images/images.jpg" class="img-fluid">
      </div>
      <h3>{{pulled_account.First_name}} {{pulled_account.Last_name}}</h3>
      <div class="joined_technologies">
        <li ng-repeat="tech in joined_technologies">

        </li>
      </div>
    </div>

    <!-- Center stack -->
    <div class=" col-md-4 ">
      <div class="row ">
        <!-- This will hold the input box, that will allow the user to make a new post -->
        <div class="col-md-12 mid-top-container ">
          <input type="text " name="new_post " placeholder="WATCH 'YA CODING?" ng-model="post.Post">
          <input type="submit" name="Post" ng-click="create_post()">
        </div>
      </div>

      <!-- This will contain the posts made be the user. -->
      <div class="row">
        <!-- White space -->
        <div class="col-md-1"></div>
        <div class="col-md-11 post_container">
          <!-- This container is to hold the post -->
          <div class="posts">
            <li ng-repeat="post in pulled_posts">
              <div class="actual_profile_post">
                <div class="row">
                  <div class="col-md-2">
                    <div class="post_image_container">
                      <img src="./images/images.jpg" class="img-fluid">
                    </div>
                  </div>
                  <div class="col-md-10">
                    {{pulled_account.First_name}} {{pulled_account.Last_name}}
                  </div>
                </div>

                <p>{{post.Post}}</p>
                <hr>
                <div class="dropdown">
                  <button class="dropdown-toggle" data-toggle="collapse" data-target="#comments_holder" ng-click="pull_comments(post.id)">Comments</button>

                </div>
              </div>
            </li>
          </div>
        </div>

      </div>
    </div>
    <!-- ******************* Comments Section ****************************** -->
    <div class="col-md-3">
      <div class="personal_comments_holder collapse collapsing" id="comments_holder">
        <div class="row">
          <li ng-repeat="comment in pulled_comments">
            <div class="col-md-2">
              <div class="">
                <img src="./images/images.jpg" class="img-fluid">
              </div>
            </div>
            <div class="col-md-10">

              {{pulled_account.First_name}} {{pulled_account.Last_name}}
              <br> {{comment.Comment}}
              <hr>
            </div>
          </li>
        </div>
        <div class="fixed-bottom">
          <input type="text" placeholder="Comment" ng-model="new_comment.Comment" class="fixed-bottom">
          <input type="submit" value="Post" ng-click="create_comment(comment_id)" class="fixed-bottom">
        </div>
      </div>
      <!-- This will be the section that contains the user's upcoming events -->
      <div class="row">
        <div class="col-lg-12 events_container">
          <h5>UPCOMING EVENTS</h5>
          <hr>
          <!-- The actual events will go here -->
          <div class="row">
            <div class="col-md-4 " ng-repeat="upcoming_events in upcoming_events">
              {{upcoming_events.post}} {{upcoming_events.date}} {{upcoming_events.location}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ***********************right sidebar******************************* -->
    <div class="col-md-2 right_side_bar ">
      <a ng-href="#!/new_technology ">Create New Technology</a>
      <a>Settings</a>
    </div>
    </daiv>
  </div>