<!-- Encloses everything -->
<div class="container-fluid ">

  <div class="row">
    <!-- White space -->
    <div class="col-md-1">

    </div>
    <!-- left sidebar -->
    <div class="col-md-2 left_side_bar">
      <ul class="technologies-container">
        <li ng-repeat="tech in technologies">
          <a ng-href="#!/technology/{{tech.id}}" class="profile_links">{{tech.Name}}</a>
          <hr>
        </li>
      </ul>
    </div>

    <!-- Center stack -->
    <div class=" col-md-6 ">
      <div class="row ">
        <!-- This will hold the input box, that will allow the user to make a new post -->
        <div class="col-md-12 mid-top-container ">
          <input type="text " name="new_post " placeholder="WATCH 'YA CODING?" ng-model="post.Post">
          <input type="submit" name="Post" ng-click="create_post()">
        </div>
      </div>

      <!-- This will contain the posts made be the user. -->
      <div class="row">
        <!-- White space -->
        <div class="col-md-3"></div>
        <div class="col-md-6 post_container">
          <!-- This container is to hold the post -->
          <div class="posts">
            <li ng-repeat="post in pulled_posts">
              <div class="actual_profile_post">
                {{post.Post}}
                <hr>
                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Comments</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <input type="text" placeholder="Comment" ng-model="comment">
                    <input type="submit" value="Post" ng-model="create_comment(post.id)">
                  </div>
                </div>
              </div>
            </li>
          </div>
        </div>
        <!-- White space -->
        <div class="col-md-3"></div>
      </div>
    </div>


    <!-- ***********************right sidebar******************************* -->
    <div class="col-md-2 right_side_bar">
      <a ng-href="#!/new_technology">Create New Technology</a>
    </div>
  </div>
</div>